*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.project{
    display: flex;
    justify-content: center;
   flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 20px;
}

.project h1{
    color: #0d9742;
    text-transform: uppercase;
}

button{
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    margin: 20px 20px;
    background-color: #C850C0;
}

button:hover{
    cursor: pointer;
    scale: 1.2;
}

@media(max-width: 767){

    .project{
        height: 100%;
        width: 100%;
    }

    button{
        padding: 2px 5px;
        margin: 3px 3px ;
    }
}