.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding-top: 10px;
    margin-left: 15px;
}

    
.sc{
    margin-right: 28px;
}    
    
.logo{
   width: 90px;
   border-radius: 10px;
   margin-left: 15px;

}
    
.nav{
    display: flex;
    text-align: center;
    margin-top: 16px; 

    

}
 
.title{
    margin-top: 1px;
    margin-left: 5px;
    
}    
    
.garena{
    color: blue;
    margin-top: -10px;
    margin-left: 25px;

}
    
.app{
    margin-top: -12px;
    font-size: 12px;
}    

.rate{
    margin-top: 40px;
    margin-left: 30px;
}      

.review{
    font-size: 13px;
    margin-left: 14px;
    margin-top: -10px;
    color: rgb(119, 116, 116);
    
}    
    
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}   

.down{
    margin-top: 45px;
}    
    
.mb{
    margin-top: -3px;
    margin-left: -14px;
}   
    
.btn1{
    margin-top: 48px;
    padding: 0;
    margin-left: 40px;
}
    
.c{
    margin-top: 1px;
    margin-right: -10px;
}   
       
   

.btn{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}   
    
    
.try{
    color: blue;
    padding: 4px 70px;
    border-radius: 20px;
    border: 1px solid gray;
    
}
    
.ins{
    color: white;
    padding: 4px 70px;
    background-color: blue;
    border-radius: 20px;
    border: none;
} 
    
    
.intro{
    width: 70%;
    height: 150px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 280px;
    border-radius: 10px;
}
    
.photo{
    display: flex;
}    

.intro2{
    width: 300px;
    height: 150px;
    margin-right: -500px;
    margin-top: 20px;
    margin-left: -80px;
    border-radius: 10px;
}   
    

.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
}    
    
.about h4{
    margin-left: 15px;
    font-size: 20px;
}       
    
.about i{
    font-size: 28px;
    rotate: 180deg;
    margin-right: 15px;
}
    
.mnt{
    margin: 15px;
    margin-top: -5px;
    color: dimgrey;
}   
    

.all-btn{
    display: flex;
    justify-content: space-between;
    padding: 2px 20px;
   
}    
    
.t{
    padding: 2px 40px;
    border-radius: 5px;
    border: 1px solid gray;
}       
    
.y{
    padding: 2px 40px;
    border-radius: 5px;
    border: 1px solid gray;
}
    
.st{
    margin-right: -42px;
    padding: 2px 10px;
    border-radius: 5px;
    border: 1px solid gray;
}    
  