.head{
    background-color: rgb(230, 223, 223);
    position: fixed;
    height: 30px;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
}   

body{
    height: 6000px;
}

.me{
    width: 25px;
    height: 25px;
    border-radius: 20px;
}    
    
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    
.title{
    display: flex;
    align-items: center;
    padding-left: -10px;
}

.you{
    width:  40px;
}
    
.search{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    border-radius: 22px;
    border: none;
}   
       
.side-nav{
    background-color: rgb(230, 223, 223);
    position: fixed;
    width: 25px;
    height: 100%;
    top: 30px;
    left: 0;
    right: 0;
    padding: 10px;
    margin-top: 15px;
    
    
}    

.home{
    font-size: 10px;
    margin-top: -2px;
    margin-bottom: 40px;
}    
    
.short{
    font-size: 10px;
    margin-top: -2px;
    margin-bottom: 40px;
} 

.sub{
    font-size: 9px;
    margin-left: -8px;
    margin-top: -2px;
    margin-bottom: 40px;
}   
    
.suggetion{
    margin-top:60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}  
    

.suggetion button{
    border: none;
    padding: 6px;
    border-radius: 20px; 
}   

button:hover{
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}
    
.st-left{
    width:250px;
    height: 120px;
    border-radius: 20px;
    background-image: url(me1.jpg.png);
    background-size: cover;
    margin-top: 20px;
    margin-left: 50px;
}
   
.st-left p{
    margin-left: 210px;
    padding-top: 100px;
   color: aliceblue;
}   
    
.ti-pic{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-left: 55px;
    margin-top: 5px;
}
    
.vidu-title {
    display: flex;
}   

.vidu-title h4{
    font-size: 15px;
    margin-top: 6px;
    margin-left: 5px;
}   
    
.chnl p{
    margin-left: 90px;
    margin-top: -18px;
    color: rgb(190, 179, 179);
    margin-bottom: 3px;
}
    
.chnl span{
    margin-top: -50px;
    margin-left: 90px;
    color: rgb(190, 179, 179);
}   
       
.main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
    
    
    
@media(max-width:767px){
    .main{
        display: grid;
        grid-template-columns:1fr;
    }
        
    
    
    
    
}
  